<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChaturGanit</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/Chaturganit.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="website-title">ChaturGanit</div>

    <div class="section-container">
        <h4 class="section-title">Calculators <i class="fa-solid fa-calculator"></i></h4>
        <div class="bento-container">
            <a href="/calculator/sgpa">
                <div class="bento-card card1">
                    <h3>SGPA Calculator</h3>
                    <p>Compute your Semester Grade Point Average (SGPA) based on your grades.</p>
                </div>
            </a>
            <a href="/calculator/cgpa">
                <div class="bento-card card2">
                    <h3>CGPA Calculator</h3>
                    <p>Determine your Cumulative Grade Point Average (CGPA) using your SGPA scores.</p>
                </div>
            </a>
            <a href="/calculator/attendance">
                <div class="bento-card card3">
                    <h3>Attendance Calculator</h3>
                    <p>Assess your attendance percentage based on the classes you have attended.</p>
                </div>
            </a>
        </div>
    </div>

    <!-- <div class="section-container">
        <h4 class="section-title">Predictors <i class="fa-solid fa-wand-magic-sparkles"></i></h4>
        <div class="bento-container">
            <div class="bento-card card4">
                <h3>SGPA Predictor</h3>
                <p>Estimate your potential SGPA based on your current performance.</p>
            </div>
            <div class="bento-card card5">
                <h3>CGPA Predictor</h3>
                <p>Project your future CGPA based on your anticipated SGPA.</p>
            </div>
            <div class="bento-card card6">
                <h3>Attendance Predictor</h3>
                <p>Forecast your attendance percentage considering your current attendance record.</p>
            </div>
        </div>
    </div> -->

    <footer class="footer">
        <div class="footer-container">
            <p>Developed by:</p>
            <div class="developer-links">
                <p>
                    Anirudh Govardhana
                    <a href="https://github.com/anirudh-gov" target="_blank" aria-label="Anirudh Govardhana's GitHub Profile">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/anirudh-govardhana/" target="_blank" aria-label="Anirudh Govardhana's LinkedIn Profile">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </p>
                
            </div>
            <div class="developer-links">
                <p>
                    Diddi Pranay
                    <a href="https://github.com/Pranay-Diddi" target="_blank" aria-label="Diddi Pranay's GitHub Profile">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/pranay-diddi/" target="_blank" aria-label="Diddi Pranay's LinkedIn Profile">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>

</body>
</html>
