body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.website-title {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    position: relative;
    /* animation: zoom-in 1s ease-out forwards;
    opacity: 0; */
    background-color: #ffffff;

    width: 100%;
    margin-top: 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.website-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: #ff6000;
    margin: 8px auto 0;
    border-radius: 2px;
}

.section-container {
    width: 80%;
    margin-bottom: 1.5rem;
}

.section-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ff6000;
    animation: zoom-in 1s ease-out forwards;
    opacity: 0;
}

.bento-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    animation: zoom-in 1s ease-out forwards;
    opacity: 0;
}

.bento-card {
    background-color: #ffffff;
    border-radius: 8px;
    height: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    animation: zoom-in 1s ease-out forwards;
    opacity: 0;
}

.bento-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.bento-card h3 {
    margin-top: 0;
    color: #333;
}

.bento-card p {
    color: #666;
    font-size: 0.9rem;
    line-height: 1.6;
}

.card1 {
    background-color: #e9c1ff;
}

.card2 {
    background-color: #ffb8e3;
}

.card3 {
    background-color: #dad47a;
}

.card4 {
    background-color: #fff570;
}

.card5 {
    background-color: #ed9461;
}

.card6 {
    background-color: #91d2c1;
}

/* Footer container styling */
.footer {
    background-color: #ffe6c7; /* Light background color to match your theme */
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    border-top: 2px solid #ff6000; /* Subtle border at the top for a formal look */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}

/* Developer links container styling */
.developer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid #ffe6cf;
    transition: 0.8s;
    /* margin-bottom:3px; */
}

.developer-links:hover{
    border-bottom: 3px solid #ff6000;
}

.developer-links p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em; /* Slightly larger font size for emphasis */
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333; /* Darker text color for better readability */
}

.developer-links a {
    color: #ff6000; /* Color to match your theme */
    margin: 5px 10px;
    font-size: 1.8em;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.8s ease; /* Smooth transition effects */
}

.developer-links a:hover {
    color: #ffa559; /* Hover color to match your theme */
    transform: translateY(-8px); /* Slight lift effect on hover */
}

@media (max-width: 768px) {


    .website-title {
        font-size: 2.5rem;
    }

    .bento-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        margin-bottom: 2rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .developer-links {
        margin-bottom: 20px;
    }

    .developer-links a {
        font-size: 1em;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .website-title {
        font-size: 2rem;
        background-color: #ffffff;
        width: 100%;
        margin-top: 0;
        text-align: center; /* Aligns the text to the center */
        padding: 10px; /* Adds some padding for better visual appearance */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a bottom shadow */
    }

    .bento-container {
        grid-template-columns: 1fr;
        gap: 15px;
        /* width: 95%; */
        background-color: #ffffff;
        margin-bottom: 2rem;
    }

    .bento-card {
        padding: 15px;
    }

    .footer-container {
        padding: 0 5px;
    }

    .developer-links p {
        font-size: 1em;
    }

    .developer-links a {
        font-size: 1.4em;
        margin: 4px 0;
    }

}

/* Keyframes for slide-in animation */
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoom-in {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

